/*.container{
	width: 100%;
}
.span12{
	width: 100%;
}
.span6{
	width: 50%;
	margin: 0px;
}
[class*="span"] {
	margin:0px;
}*/

.metade-esquerda{
	width: 50%;

	height:1000px;
	left: 1px;
	background: blue;
	position: fixed;
	}
.metade-direita{
	width: 50%;
	height: 667px;
	background: red;
	position: fixed;
	right:1px;
}

.logo{
	width: 90px;
	height: auto;
	position: absolute;
	left: 44.6%;
	top: 45%;
}

.logo img{
	background: white;
	width: 90px;
	height: auto;
	padding:25px;
	

	position: fixed;
	z-index: 1000;
}
body {
    	height: 700px;
		}
		#direcao {
    	position: fixed;
    	top: 0px;
		}
.conteudo-esquerda{
	margin-top: 25px;
	z-index: 1000;
	background-color: grey;

}
.conteudo-direita{
	margin-top: 25px;
	z-index: 1000;
	background-color: grey;
	
}
.time-line i{
	z-index: 1000;
	position:relative;
	color: #fff;
	margin-left: -8px;
	margin-top: -10px;
	margin-bottom: 30px;
}

.time-line{
	text-align: center;
}

/*.time-line {
    content: "";
    position: fixed;
   
	height: 500px;
   
  		 border-radius: 10px;
    width: 8px;
    background: #fff;
    background: rgba(255,255,255);
}*/
 ul {
	list-style: none;
}