/*.container{
	width: 100%;
}
.span12{
	width: 100%;
}
.span6{
	width: 50%;
	margin: 0px;
}
[class*="span"] {
	margin:0px;
}*/

.metade-esquerda{
	width: 50%;
	height: 667px;
	background: red;
	float: left;
	background: url('http://static.frasesparaface.com.br/imagem/o/f/o-fabio-jr-canta-a-musica-alma-gemea-e-ja.jpg');
}
.metade-direita{
	width: 50%;
	height: 667px;
	background: red;
	float: left;
}

.logo{
	width: 90px;
	height: auto;
	position: absolute;
	left: 47.5%;
	top: 45%;
}

.logo img{
	background: white;
	width: 70px;
	height: auto;
	position: absolute;
	left: 10px;
	top:10px;
}